<html>
<head>  
</head>
<body>
<%= yield %>
</body>
</html>
<h2>School Class Form</h2>
<%=form_for @school_class do |f|%>
  <%= f.label :title, "Title" %>
  <%= f.text_field :title %>
  <%= f.label :room_number, "Room Number" %>
  <%= f.text_field :room_number %>
  <%= f.submit%>
<% end %>